{
        "name": "Netention",
        "description": "http://netention.org",
        "memoryUpdatePeriodMS": 5000,
        "plugins": {},
        "permissions": {},
		"host": "localhost",
		"port": "8080",  
		"databaseURL": "localhost/netention_0"
}

